/*Selectors*/
.main{
  height: 118px;
  max-width: 960px;
  margin: 0 auto;
}
.table{
 width: 500px;
 height: 200px;
 border-collapse: collapse;
 border: 1px solid black;
 text-align: center;
}

.rules{
  margin: 0 auto;
  max-width: 960px;

}
.first{
  background-color: green;
}
.secound{
  background-color: lightgreen;
}/*Selectors*/

/*teg*/
#Logo{
width: 100px;
height: 100px;
margin: 10px;
float: left;
}/*teg*/

body{
  min-height: 100vh;
  background-image:linear-gradient(120deg, #3498db, #8e44ad);
}
nav{

   display: inline-flex;
   margin: 0 auto;
   padding: 20px 15px 30px;
   background-color:#2980b9;
   font-size: 40px;
   max-width:960px;

}
header{
  background-image:linear-gradient(120deg, #2980b9, #9b59b6);
}

h1{
  font-weight: bold;
  padding-bottom: 20px;
}
h3{
    max-width: 960px;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer{
  background-image:linear-gradient(120deg, #2980b9, #9b59b6);
  padding-bottom: 10px;
  border-left: 4px solid rgb(33, 31, 31);
  padding: 20px 0;
  margin-right: 10px;
}